@keyframes roll-over {
  0% {
    top: 0;
    height: 70px;
    background-position: center 50%;
  }

  50% {
    top: -10px;
    height: 80px;
    background-position: center 40%;
  }

  100% {
    top: 0;
    height: 70px;
    background-position: center 50%;
  }
}

@keyframes run-over {
  0% {
    top: 30px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes come-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes breathLight {
  0% {
    color: white;
    box-shadow: 0px 0px 10px 5px black;
    background-color: black;
  }

  100% {
    color: black;
    box-shadow: 0px 0px 10px 5px $lightGreen, 0 0 2px 8px black, 0 0 20px 10px $lightGreen;
    background-color: $lightGreen;
  }
}

roll-over($time) {
  // name duraiton timing-function delay iteration-count direction fill-mode
  animation: roll-over;
  animation-delay: 0;
  animation-duration: $time;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

run-over($time) {
  animation: run-over;
  animation-delay: 0;
  animation-duration: $time;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

come-in($time) {
  animation: come-in;
  animation-delay: 0;
  animation-duration: $time;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

breathLight($time) {
  animation: breathLight;
  animation-delay: 0;
  animation-duration: $time;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}