html, body {
  font-weight: 200;
  line-height: 1;
  font-size: 14px;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, ;
}

body {
  background: url('./assets/image/bg.png') repeat;
  background-size: 380px 380px;
}

a {
  text-decoration: none;
  color #fff
}
