html, body {
  font-weight: 200;
  line-height: 1;
  font-size: 14px;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, ;
}

body {
  background: url('http://wx3.sinaimg.cn/large/467fdbd3ly1g1l4roz58cj20ku0kudgt.jpg') repeat;
  background-repeat: repeat;
  background-size: 380px 380px;
}

a {
  text-decoration: none;
  color: #fff;
}
