html, body {
  font-weight: 200;
  line-height: 1;
  font-size: 14px;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, ;
}

body {
  background: url('/static/images/image/bg.png') repeat;
  // background: url('http://img1.ph.126.net/tutPqDPCTHLAUj4c8wv3wQ==/6608230909191954925.png');
  background-repeat: repeat;
  background-size: 380px 380px;
}

a {
  text-decoration: none;
  color: #fff;
}
