bg-image($url) {
  background-image: url('../../assets/image/' + $url + '.png');
}

smooth-top-angle($deg) {
  border-top-left-radius: $deg;
  border-top-right-radius: $deg;
}

$subOrange = rgba(255, 152, 0, 1);
$lightGreen = rgba(52, 214, 164, 1);
