$subOrange = rgba(255, 152, 0, 1);
$lightGreen = rgba(52, 214, 164, 1);
$lightPink = rgba(245, 95, 171, 1);

bg-image($url) {
  background-image: url('/aboutme/static/images/image/' + $url + '.png');
}

bg-shift($url, $time) {
  transition: background-image $time, background-color 0.5s, color 0.5s;
  bg-image($url);
  roll-over(1s);
  color: black;
  background-color: #fff;
  
}

content-after($text) {
  position: relative;
  top: 51.2px
  content: $text;
}

smooth-top-angle($deg) {
  border-top-left-radius: $deg;
  border-top-right-radius: $deg;
}

width-content($width, $margin-vertical, $padding-bottom) {
  width: $width;
  min-width: 270px;
  box-sizing: border-box;
  margin: $margin-vertical auto;
  padding: 20px 20px $padding-bottom 20px;
}